.auth {
  &-container {
    height: 100vh;
    width: 30vw;
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 2rem;
    background: var(--white);
    display: flex;
    align-items: center;
  }

  .logo {
    width: 50px;
  }

  &--image {
    height: 100vh;
    width: 100vw;
  }

  &--component {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  form{
    width: 100%;
  }

}
