.side {
  height: 100vh;
  width: 25vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 1rem;
  background-color: var(--gray-900);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.25s linear;
  &-true {
    transform: translateX(75px);
  }
  &-false {
    transform: translateX(-100%);
  }
  &--header {
    text-align: right;
    border-bottom: 1px solid var(--white);
    padding-bottom: 1rem;
  }
  &--content {
    h4 {
      text-transform: uppercase;
      color: var(--primary-green);
    }
    ul {
      list-style: none;
      padding: 0;
      margin-top: 1rem;
      > li {
        display: inline-flex;
        align-items: center;
        svg {
          color: var(--primary-green);
          font-size: 2rem;
        }
        + li {
          padding-bottom: 1rem;
        }
      }
    }
  }
  &--footer {
    padding-top: 1rem;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid var(--white);
  }
}
