doctype transitional
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
style.
  @media  only screen and (max-width: 600px) {
  .inner-body {
  width: 100% !important;
  }
  .footer {
  width: 100% !important;
  }
  }
  @media  only screen and (max-width: 500px) {
  .button {
  width: 100% !important;
  }
  }
table.wrapper(width='100%' cellpadding='0' cellspacing='0' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #f5f8fa; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;')
  tr
    td(align='center' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;')
      table.content(width='100%' cellpadding='0' cellspacing='0' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;')
        tr
          td.header(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 25px 0; text-align: center;')
            a(href="#{process.env.APP_URL}" style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #bbbfc3; font-size: 19px; font-weight: bold; text-decoration: none; text-shadow: 0 1px 0 #ffffff;')
              | #{process.env.APP_NAME}
        // Email Body
        tr
          td.body(width='100%' cellpadding='0' cellspacing='0' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; border-bottom: 1px solid #edeff2; border-top: 1px solid #edeff2; margin: 0; padding: 0; width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 100%;')
            table.inner-body(align='center' width='570' cellpadding='0' cellspacing='0' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; background-color: #ffffff; margin: 0 auto; padding: 0; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;')
              // Body content
              tr
                td.content-cell(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;')
                  h1(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 19px; font-weight: bold; margin-top: 0; text-align: left;') Hi #{username || email}, your account is ready
                  p(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;') Please login with your email and the password below                 
                  h2(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #2F3133; font-size: 16px; font-weight: bold; margin-top: 0; text-align: left;') #{password}
                  sp update the password with your own as soon as you can  
                          
                  p(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; font-size: 16px; line-height: 1.5em; margin-top: 0; text-align: left;')
                    | Welcome to Aurora.
                  table.subcopy(width='100%' cellpadding='0' cellspacing='0' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; border-top: 1px solid #edeff2; margin-top: 25px; padding-top: 25px;')
                    tr
                      td(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;')
                        p(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; color: #74787e; line-height: 1.5em; margin-top: 0; text-align: left; font-size: 12px;') This is an email generated by #{process.env.APP_NAME} system
        tr
          td(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box;')
            table.footer(align='center' width='570' cellpadding='0' cellspacing='0' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; margin: 0 auto; padding: 0; text-align: center; width: 570px; -premailer-cellpadding: 0; -premailer-cellspacing: 0; -premailer-width: 570px;')
              tr
                td.content-cell(align='center' style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; padding: 35px;')
                  p(style='font-family: Avenir, Helvetica, sans-serif; box-sizing: border-box; line-height: 1.5em; margin-top: 0; color: #aeaeae; font-size: 12px; text-align: center;') &copy; 2020. #{process.env.APP_NAME} All rights reserved.
